<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>launch_pcem.sh</string>
  <key>CFBundleIdentifier</key>
  <string>uk.co.pcem-emulator</string>
  <key>CFBundleName</key>
  <string>pcem</string>
  <key>CFBundleDisplayName</key>
  <string>PCem</string>
  <key>CFBundleIconFile</key>
  <string>pcem.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>14.0.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>14.0.0</string>
  <key>NSHighResolutionCapable</key>
  <string>True</string>
</dict>
</plist>